// --- SIZE
@mixin size($width, $height) {
      width: $width;
      height: $height;
}
// --- PADDING
@mixin padbox($padbox) {
	padding: $padbox; box-sizing: border-box;
}
@mixin padblock($padblock) {
	padding: $padblock; box-sizing: border-box; display: inline-block;
}
// --- BORDER
@mixin radius($radius) {
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;
}
// --- PREFIX $pref
@mixin prefix($property, $value, $vendors: webkit moz ms o) {
      @if $vendors {
        @each $vendor in $vendors {
          #{"-" + $vendor + "-" + $property}: #{$value};
        }
      }
      #{$property}: #{$value};
}
// --- PREFIXed
@mixin transition($sec) {
	-webkit-transition: all $sec ease;
	-moz-transition: all $sec ease;
	-o-transition: all $sec ease;
	-ms-transition: all $sec ease;
	transition: all $sec ease;
}
@mixin trans($all, $sec, $ease) {
	-webkit-transition: $all $sec $ease;
	-moz-transition: $all $sec $ease;
	-o-transition: $all $sec $ease;
	-ms-transition: $all $sec $ease;
	transition: $all $sec $ease;
}
// // --- MEDIA
// @mixin retina {
//   @media screen and (min-width: 1600px) {@content;}
// }
// @mixin imac {
//   @media screen and (min-width: 1440px) {@content;}
// }
// @mixin mac {
//   @media screen and (min-width: 1200px) {@content;}
// }
//
// @mixin ipad {
//   @media screen and (min-width: 640px) and (max-width: 1025px) {@content;}
// }
// @mixin fix-tablet {
//   @media screen and (min-width: 640px) {@content;}
// }
// @mixin fix-mobile {
//   @media screen and (min-width: 0px) {@content;}
// }
// @mixin ipod {
//   @media screen and (max-width: 320px) {@content;}
// }
// will be deleted and replaced for fix-& after refatorization

@mixin mobile {
  @media (min-width: 320px) and (max-width: 414px) {@content;}
}
@mixin tablet {
  @media screen and (min-width:  640px) {@content;}
}
@mixin deskNormal {
  @media screen and (min-width:  1024px) {@content;}
}
@mixin deskGrande{
  @media screen and (min-width:  1662px) {@content;}
}
@mixin deskExGrande{
  @media screen and (min-width: 1915px) {@content;}
}
// -- ANIMATION
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
// -- FORMS
@mixin no-form {-webkit-appearance: none !important; -moz-appearance: none !important; appearance: none !important; border: none; outline: none;}

//-- SHORTS
@mixin hovers {
	&:hover, &:active, &:focus {@content}
}
@mixin fxbottom {position: relative;
	&::after {content: ""; position: absolute; left: 50%; right: 50%; bottom: 0; background: $black; height: 2px;
		@include prefix(transition-property, (left, right), $pref);
		@include prefix(transition-timing-function, ease, $pref);
		@include transition(0.3s);
	}
	&:hover::after, &:active::after, &:focus::after {left: 0; right: 0;}
}

// -- CUSTOM
@mixin icon-key {&::after {content: '\e802'; font-family: $fontello; display: inline-block;}
	@include tablet {
	//	&:before {content: '\e802'; font-family: $fontello; display: inline-block;}
	}
}

@mixin placeholder($color) {
	&::placeholder {color: $color; opacity: 1;}
	&::-webkit-input-placeholder {color: $color; opacity: 1;}
	&::-moz-input-placeholder {color: $color; opacity: 1;}
	&:-moz-input-placeholder {color: $color; opacity: 1;}
	&:-ms-input-placeholder {color: $color; opacity: 1;}
}
