@import url('https://fonts.googleapis.com/css?family=Karla:400,700');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body{
  width: 100%;
  height: 100%;
  font-family: 'Karla', sans-serif;
  margin: 0 !important;
}
main{height: 100%;}
#root{
  height:auto;
}

.contenedor{
  @include deskNormal{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
  };

  &-dos{

    @include deskNormal{padding-top: 16%;max-width: 30em;};
    p{
      @include tablet{max-width: 71%;};
    }
  }

}
.header{display: flex;flex-direction:row;flex-wrap: nowrap;justify-content: space-between;height: 3em;
  @include tablet{padding-top: 3%;}
  @include deskNormal{height:6em;max-height: 17em;padding-top: 0;};
    a{
        @include deskNormal{width: 25%;};

      .icons{display: flex !important;position: relative !important; width: 40%;
        @include tablet{height: 5em;top: 30%;};
        @include deskNormal{width: auto};
        &-2{
          height: 4em;width: 100%;
          @include tablet{height: 4em;margin-top: 3% !important;};
          @include deskNormal{height: 2em;};
          @include deskGrande{height: 4em;};
        }
      }
      img{display: flex;width: 80%;
        @include deskNormal{position: relative;};
        @include tablet{width: 100%;}
      }
    }
    a:nth-child(2){
      @include tablet{width: 11%;};
    }
}

.home-nuevo{
  background-image: url("../sass/media/background.svg");
  background-position: 30% 50%;
  background-repeat: no-repeat;
  background-position-y: inherit;
  width: 100%;
  height: 100%;
  background-size: 39em;
  @include tablet{background-size: auto;};
  @include deskNormal{background-image: none;};
  &-contenedor{
    width: 90%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    @include deskNormal{width: 70%;max-width: 70%;};
    img{
      display: none;
      @include deskNormal{
        display: block;
        position:absolute;
        left:0px;
        top:0px;
        z-index:-3;
        width: 100%;
      };
    }
    img:nth-child(2){
      display: block;
      position: absolute;
      z-index: 0;
      width: 10%;
      margin-top: auto;
      @include tablet{
        width: auto;
        position: relative;
      };
    }
    .contacto{
        display: none;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 8%;
        text-align: center;
        height: 5em;
        @include tablet{margin-bottom: 10%;};
      input{
          height: 3em;
          width: 70%;
          border:none;
          padding: .5em;
          box-sizing: border-box;
          display: inline-block;
          text-align: left;
          font-weight: 300;
          background-color: white;
          border-bottom: lightgray solid 1px;
          @include tablet{height: 3em;font-size: 1.5em;};
          @include deskNormal{height: 2em;};
        }
          button{
          cursor: pointer;
          padding: .5em;
          box-sizing: border-box;
          display: inline-block;
          text-align: left;
          font-weight: 300;
          background-color: white;
          -moz-border-radius: 0 6px;
          -webkit-border-radius: 6px;
          border-radius: 6px;
          background-color: #35db77;
          color: white;
          border: none;
          width: 19%;
          text-align: center;
          font-size: 0.8em;
          @include tablet{height: 3em;font-size: 1.5em;};
          @include deskNormal{height: 2.5em;font-size: 1em;};
          &:hover{background-color: #85f1b0;}
        }
        .error{
          color: #808080;
          display: block;
          &-click{
            cursor: pointer;
            color: #808080;
          }
          &-click:hover{
            text-decoration: underline;
            color: #808080;
          }
        }
        .message{
          padding-top: 5%;
          display: none;
          a{
            width: 3em;
            background-color: #00df6a;
            padding: 3%;
            margin: 3%;
            position: relative;
            color: white;
            display: inline-block;
            border-radius: 11px;
            cursor: pointer;
          }
        }
    }
  }
  &-contenido{
    @include deskNormal{order:1;padding-top: 5%;max-width: 60em;};
    img{
      display: block;
      width: 100%;
    }
    .mapa{
      position: relative;
    }
  }
  h1{
    font-weight: 900;
    font-size: 1.7em;
    margin-bottom: 5%;
    @include tablet{font-size: 3.8em;};
    @include deskNormal{font-size: 2.5em;};
  }
  p{
    color: #808080;
    line-height: 23px;
    margin-bottom: 20%;
    @include tablet{line-height: 1.2em;font-size: 2em;margin-bottom: 11%;};
    @include tablet{font-size: 1.5em;};
  }
  .success{
    cursor: pointer;
    display: block;
    background-color: #35db77;
    color: white;
    padding: 12px 30px;
    border:none;
    border-radius: 5px;
    z-index: 999999;
    font-size: 1em;
    margin-bottom: 15%;
    @include tablet{
      width: 40%;
      height: 3em;
      font-size: 1.5em;
    };
    @include deskNormal{font-size: 1em;};
    &:hover{
      background-color: #85f1b0;
    }
  }
  .static--contact-msg{
    width: 100%;
    padding: 1em;
    height: 8em;
    text-align: center;
    box-sizing: border-box;
    background-color: #00a1f3;
    color: white;
    border-top: 1px solid white;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    h1{
      margin-bottom: 1%;
    }
  }
}
