.menu {
  background-image: url("../sass/media/background.svg");
  background-position: 30% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 267px;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 4% 0 4%;
  @include deskNormal{background-size: 100%;height: 339px;padding: 0 19% 0 12%;};
  .logo {
    display: inline-block;
    margin-right: 1em;
    top: -3em;
    position: relative;
    img {
      vertical-align: top;
      height: 3em;
      padding: 2%;
      @include tablet{height: 5em;};
    }
  }

  .logo {

    a.btn-menu{
      display: inline-block;
      @include tablet{
        display: none;
      };
    }
  }


  .enlaces {
    top: -6em;
    position: relative;
    text-align: right;

    img {
      color: white;
      display: inline-block;
      text-align: center;
      width: 23%;

    }
    i {
      margin-right: 5px;
    }
    img:hover {
      background: #f2f2f2;
      color: #4357ad;
    }
  }
}
