@import url("https://fonts.googleapis.com/css?family=Karla:400,700");
/* line 2, ../sass/base/_base.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 7, ../sass/base/_base.scss */
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Karla', sans-serif;
  margin: 0 !important;
}

/* line 14, ../sass/base/_base.scss */
main {
  height: 100%;
}

/* line 15, ../sass/base/_base.scss */
#root {
  height: auto;
}

@media screen and (min-width: 1024px) {
  /* line 19, ../sass/base/_base.scss */
  .contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1024px) {
  /* line 27, ../sass/base/_base.scss */
  .contenedor-dos {
    padding-top: 16%;
    max-width: 30em;
  }
}
@media screen and (min-width: 640px) {
  /* line 30, ../sass/base/_base.scss */
  .contenedor-dos p {
    max-width: 71%;
  }
}

/* line 36, ../sass/base/_base.scss */
.header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 3em;
}
@media screen and (min-width: 640px) {
  /* line 36, ../sass/base/_base.scss */
  .header {
    padding-top: 3%;
  }
}
@media screen and (min-width: 1024px) {
  /* line 36, ../sass/base/_base.scss */
  .header {
    height: 6em;
    max-height: 17em;
    padding-top: 0;
  }
}
@media screen and (min-width: 1024px) {
  /* line 39, ../sass/base/_base.scss */
  .header a {
    width: 25%;
  }
}
/* line 42, ../sass/base/_base.scss */
.header a .icons {
  display: flex !important;
  position: relative !important;
  width: 40%;
}
@media screen and (min-width: 640px) {
  /* line 42, ../sass/base/_base.scss */
  .header a .icons {
    height: 5em;
    top: 30%;
  }
}
@media screen and (min-width: 1024px) {
  /* line 42, ../sass/base/_base.scss */
  .header a .icons {
    width: auto;
  }
}
/* line 45, ../sass/base/_base.scss */
.header a .icons-2 {
  height: 4em;
  width: 100%;
}
@media screen and (min-width: 640px) {
  /* line 45, ../sass/base/_base.scss */
  .header a .icons-2 {
    height: 4em;
    margin-top: 3% !important;
  }
}
@media screen and (min-width: 1024px) {
  /* line 45, ../sass/base/_base.scss */
  .header a .icons-2 {
    height: 2em;
  }
}
@media screen and (min-width: 1662px) {
  /* line 45, ../sass/base/_base.scss */
  .header a .icons-2 {
    height: 4em;
  }
}
/* line 52, ../sass/base/_base.scss */
.header a img {
  display: flex;
  width: 80%;
}
@media screen and (min-width: 1024px) {
  /* line 52, ../sass/base/_base.scss */
  .header a img {
    position: relative;
  }
}
@media screen and (min-width: 640px) {
  /* line 52, ../sass/base/_base.scss */
  .header a img {
    width: 100%;
  }
}
@media screen and (min-width: 640px) {
  /* line 57, ../sass/base/_base.scss */
  .header a:nth-child(2) {
    width: 11%;
  }
}

/* line 62, ../sass/base/_base.scss */
.home-nuevo {
  background-image: url("../sass/media/background.svg");
  background-position: 30% 50%;
  background-repeat: no-repeat;
  background-position-y: inherit;
  width: 100%;
  height: 100%;
  background-size: 39em;
}
@media screen and (min-width: 640px) {
  /* line 62, ../sass/base/_base.scss */
  .home-nuevo {
    background-size: auto;
  }
}
@media screen and (min-width: 1024px) {
  /* line 62, ../sass/base/_base.scss */
  .home-nuevo {
    background-image: none;
  }
}
/* line 72, ../sass/base/_base.scss */
.home-nuevo-contenedor {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  /* line 72, ../sass/base/_base.scss */
  .home-nuevo-contenedor {
    width: 70%;
    max-width: 70%;
  }
}
/* line 78, ../sass/base/_base.scss */
.home-nuevo-contenedor img {
  display: none;
}
@media screen and (min-width: 1024px) {
  /* line 78, ../sass/base/_base.scss */
  .home-nuevo-contenedor img {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -3;
    width: 100%;
  }
}
/* line 89, ../sass/base/_base.scss */
.home-nuevo-contenedor img:nth-child(2) {
  display: block;
  position: absolute;
  z-index: 0;
  width: 10%;
  margin-top: auto;
}
@media screen and (min-width: 640px) {
  /* line 89, ../sass/base/_base.scss */
  .home-nuevo-contenedor img:nth-child(2) {
    width: auto;
    position: relative;
  }
}
/* line 100, ../sass/base/_base.scss */
.home-nuevo-contenedor .contacto {
  display: none;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 8%;
  text-align: center;
  height: 5em;
}
@media screen and (min-width: 640px) {
  /* line 100, ../sass/base/_base.scss */
  .home-nuevo-contenedor .contacto {
    margin-bottom: 10%;
  }
}
/* line 108, ../sass/base/_base.scss */
.home-nuevo-contenedor .contacto input {
  height: 3em;
  width: 70%;
  border: none;
  padding: .5em;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  font-weight: 300;
  background-color: white;
  border-bottom: lightgray solid 1px;
}
@media screen and (min-width: 640px) {
  /* line 108, ../sass/base/_base.scss */
  .home-nuevo-contenedor .contacto input {
    height: 3em;
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1024px) {
  /* line 108, ../sass/base/_base.scss */
  .home-nuevo-contenedor .contacto input {
    height: 2em;
  }
}
/* line 122, ../sass/base/_base.scss */
.home-nuevo-contenedor .contacto button {
  cursor: pointer;
  padding: .5em;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  font-weight: 300;
  background-color: white;
  -moz-border-radius: 0 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background-color: #35db77;
  color: white;
  border: none;
  width: 19%;
  text-align: center;
  font-size: 0.8em;
}
@media screen and (min-width: 640px) {
  /* line 122, ../sass/base/_base.scss */
  .home-nuevo-contenedor .contacto button {
    height: 3em;
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1024px) {
  /* line 122, ../sass/base/_base.scss */
  .home-nuevo-contenedor .contacto button {
    height: 2.5em;
    font-size: 1em;
  }
}
/* line 141, ../sass/base/_base.scss */
.home-nuevo-contenedor .contacto button:hover {
  background-color: #85f1b0;
}
/* line 143, ../sass/base/_base.scss */
.home-nuevo-contenedor .contacto .error {
  color: #808080;
  display: block;
}
/* line 146, ../sass/base/_base.scss */
.home-nuevo-contenedor .contacto .error-click {
  cursor: pointer;
  color: #808080;
}
/* line 150, ../sass/base/_base.scss */
.home-nuevo-contenedor .contacto .error-click:hover {
  text-decoration: underline;
  color: #808080;
}
/* line 155, ../sass/base/_base.scss */
.home-nuevo-contenedor .contacto .message {
  padding-top: 5%;
  display: none;
}
/* line 158, ../sass/base/_base.scss */
.home-nuevo-contenedor .contacto .message a {
  width: 3em;
  background-color: #00df6a;
  padding: 3%;
  margin: 3%;
  position: relative;
  color: white;
  display: inline-block;
  border-radius: 11px;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  /* line 172, ../sass/base/_base.scss */
  .home-nuevo-contenido {
    order: 1;
    padding-top: 5%;
    max-width: 60em;
  }
}
/* line 174, ../sass/base/_base.scss */
.home-nuevo-contenido img {
  display: block;
  width: 100%;
}
/* line 178, ../sass/base/_base.scss */
.home-nuevo-contenido .mapa {
  position: relative;
}
/* line 182, ../sass/base/_base.scss */
.home-nuevo h1 {
  font-weight: 900;
  font-size: 1.7em;
  margin-bottom: 5%;
}
@media screen and (min-width: 640px) {
  /* line 182, ../sass/base/_base.scss */
  .home-nuevo h1 {
    font-size: 3.8em;
  }
}
@media screen and (min-width: 1024px) {
  /* line 182, ../sass/base/_base.scss */
  .home-nuevo h1 {
    font-size: 2.5em;
  }
}
/* line 189, ../sass/base/_base.scss */
.home-nuevo p {
  color: #808080;
  line-height: 23px;
  margin-bottom: 20%;
}
@media screen and (min-width: 640px) {
  /* line 189, ../sass/base/_base.scss */
  .home-nuevo p {
    line-height: 1.2em;
    font-size: 2em;
    margin-bottom: 11%;
  }
}
@media screen and (min-width: 640px) {
  /* line 189, ../sass/base/_base.scss */
  .home-nuevo p {
    font-size: 1.5em;
  }
}
/* line 196, ../sass/base/_base.scss */
.home-nuevo .success {
  cursor: pointer;
  display: block;
  background-color: #35db77;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  z-index: 999999;
  font-size: 1em;
  margin-bottom: 15%;
}
@media screen and (min-width: 640px) {
  /* line 196, ../sass/base/_base.scss */
  .home-nuevo .success {
    width: 40%;
    height: 3em;
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1024px) {
  /* line 196, ../sass/base/_base.scss */
  .home-nuevo .success {
    font-size: 1em;
  }
}
/* line 213, ../sass/base/_base.scss */
.home-nuevo .success:hover {
  background-color: #85f1b0;
}
/* line 217, ../sass/base/_base.scss */
.home-nuevo .static--contact-msg {
  width: 100%;
  padding: 1em;
  height: 8em;
  text-align: center;
  box-sizing: border-box;
  background-color: #00a1f3;
  color: white;
  border-top: 1px solid white;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
/* line 241, ../sass/base/_base.scss */
.home-nuevo .static--contact-msg h1 {
  margin-bottom: 1%;
}

@font-face {
  font-family: 'Nexa';
  src: url("../../fonts/NexaBlack.eot");
  src: url("../../fonts/NexaBlack.eot?#iefix") format("embedded-opentype"), url("../../fonts/NexaBlack.woff2") format("woff2"), url("../../fonts/NexaBlack.woff") format("woff"), url("../../fonts/NexaBlack.ttf") format("truetype"), url("../../fonts/NexaBlack.svg#NexaBlack") format("svg");
  font-weight: 900;
  font-style: normal;
}
/* line 1, ../sass/base/_header.scss */
.menu {
  background-image: url("../sass/media/background.svg");
  background-position: 30% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 267px;
  margin: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 0 4% 0 4%;
}
@media screen and (min-width: 1024px) {
  /* line 1, ../sass/base/_header.scss */
  .menu {
    background-size: 100%;
    height: 339px;
    padding: 0 19% 0 12%;
  }
}
/* line 14, ../sass/base/_header.scss */
.menu .logo {
  display: inline-block;
  margin-right: 1em;
  top: -3em;
  position: relative;
}
/* line 19, ../sass/base/_header.scss */
.menu .logo img {
  vertical-align: top;
  height: 3em;
  padding: 2%;
}
@media screen and (min-width: 640px) {
  /* line 19, ../sass/base/_header.scss */
  .menu .logo img {
    height: 5em;
  }
}
/* line 29, ../sass/base/_header.scss */
.menu .logo a.btn-menu {
  display: inline-block;
}
@media screen and (min-width: 640px) {
  /* line 29, ../sass/base/_header.scss */
  .menu .logo a.btn-menu {
    display: none;
  }
}
/* line 38, ../sass/base/_header.scss */
.menu .enlaces {
  top: -6em;
  position: relative;
  text-align: right;
}
/* line 43, ../sass/base/_header.scss */
.menu .enlaces img {
  color: white;
  display: inline-block;
  text-align: center;
  width: 23%;
}
/* line 50, ../sass/base/_header.scss */
.menu .enlaces i {
  margin-right: 5px;
}
/* line 53, ../sass/base/_header.scss */
.menu .enlaces img:hover {
  background: #f2f2f2;
  color: #4357ad;
}

/* line 1, ../sass/modules/_footer.scss */
footer {
  position: static;
  bottom: 0;
  width: 100%;
  height: 3em;
  padding: 3%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 640px) {
  /* line 1, ../sass/modules/_footer.scss */
  footer {
    height: 10%;
  }
}
@media screen and (min-width: 1024px) {
  /* line 1, ../sass/modules/_footer.scss */
  footer {
    bottom: 0;
    position: static;
    padding: 0 15%;
    padding-top: 2%;
  }
}
/* line 14, ../sass/modules/_footer.scss */
footer hr {
  color: #cccccc;
  position: absolute;
  width: 93%;
}
@media screen and (min-width: 1024px) {
  /* line 14, ../sass/modules/_footer.scss */
  footer hr {
    width: 70%;
  }
}
/* line 17, ../sass/modules/_footer.scss */
footer div {
  display: flex;
  flex-wrap: nowrap;
  padding: 2% 0;
  justify-content: space-between;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  /* line 17, ../sass/modules/_footer.scss */
  footer div {
    padding: 1% 0;
  }
}
/* line 21, ../sass/modules/_footer.scss */
footer div ul {
  display: flex;
  width: auto;
}
/* line 22, ../sass/modules/_footer.scss */
footer div ul li {
  list-style: none;
  width: auto;
}
/* line 23, ../sass/modules/_footer.scss */
footer div ul li a:nth-child(1) {
  width: auto;
  cursor: pointer;
  margin-top: 2%;
  padding: 0 13%;
}
@media screen and (min-width: 1024px) {
  /* line 23, ../sass/modules/_footer.scss */
  footer div ul li a:nth-child(1) {
    padding: 0;
  }
}
/* line 30, ../sass/modules/_footer.scss */
footer div ul li a {
  margin-top: 2%;
  width: auto;
  padding-right: 7%;
  display: inline-block;
  text-decoration: none;
  color: #808080;
  text-align: center;
  font-size: 0.8em;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  float: right;
}
@media screen and (min-width: 640px) {
  /* line 30, ../sass/modules/_footer.scss */
  footer div ul li a {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1024px) {
  /* line 30, ../sass/modules/_footer.scss */
  footer div ul li a {
    padding-right: 0;
    font-size: 1em;
    padding: 0 13%;
  }
}
/* line 48, ../sass/modules/_footer.scss */
footer div ul li a:hover {
  text-decoration: underline;
}
/* line 52, ../sass/modules/_footer.scss */
footer div ul li:nth-child(1) {
  margin-left: -10%;
  position: relative;
  margin-right: 8%;
}
/* line 59, ../sass/modules/_footer.scss */
footer div p {
  color: #808080;
  display: inline-block;
  font-size: 0.8em;
  position: relative;
  width: auto;
}
@media screen and (min-width: 640px) {
  /* line 59, ../sass/modules/_footer.scss */
  footer div p {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 1024px) {
  /* line 59, ../sass/modules/_footer.scss */
  footer div p {
    width: auto;
    position: relative;
    left: 0;
    font-size: 1em;
  }
}

/* line 2, ../sass/modules/_static.scss */
.background-static img {
  margin: 5% auto;
  position: relative;
  display: block;
}
@media screen and (min-width: 1024px) {
  /* line 2, ../sass/modules/_static.scss */
  .background-static img {
    margin-top: 2%;
    margin-left: 13%;
    margin-bottom: 3%;
  }
}
/* line 12, ../sass/modules/_static.scss */
.background-static hr {
  width: 70%;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 10%;
}
@media screen and (min-width: 640px) {
  /* line 12, ../sass/modules/_static.scss */
  .background-static hr {
    margin-bottom: 4%;
  }
}
/* line 15, ../sass/modules/_static.scss */
.background-static .static-pages {
  width: 70%;
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 1024px) {
  /* line 15, ../sass/modules/_static.scss */
  .background-static .static-pages {
    width: 60%;
  }
}
/* line 18, ../sass/modules/_static.scss */
.background-static .static-pages p {
  color: #9a9a9a;
}
/* line 19, ../sass/modules/_static.scss */
.background-static .static-pages h1 {
  font-weight: 700;
  margin-bottom: 5%;
  text-align: center;
  font-size: 1.4em;
}
/* line 20, ../sass/modules/_static.scss */
.background-static .static-pages b {
  display: block;
  padding: 10% 0 0;
}
@media screen and (min-width: 640px) {
  /* line 20, ../sass/modules/_static.scss */
  .background-static .static-pages b {
    padding: 3% 0 0;
  }
}
