footer{
  position: static;
  bottom: 0;
  width: 100%;
  height: 3em;
  padding:3%;
  padding-bottom: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include tablet {height: 10%;}
  @include deskNormal {bottom: 0;position: static;padding: 0 15%;padding-top: 2%;}
  @include deskGrande {}
  hr{color:#cccccc;position: absolute;width: 93%;
    @include deskNormal{width: 70%;};
  }
  div{display: flex;flex-wrap: nowrap;padding: 2% 0;
    justify-content: space-between;
    width: 100%;
    @include deskNormal{padding: 1% 0;};
    ul{display: flex;width: auto;
      li{list-style:none;width: auto;
        a:nth-child(1){
          width: auto;
          cursor: pointer;
          margin-top: 2%;
          padding: 0 13%;
          @include deskNormal{padding: 0;};
        }
        a{
          margin-top: 2%;
          width: auto;
          padding-right: 7%;
          display: inline-block;
          text-decoration: none;
          color:#808080;
          text-align: center;
          font-size: 0.8em;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
          float: right;
          @include tablet{font-size: 1.5em;};
          @include deskNormal{padding-right: 0;font-size: 1em;padding: 0 13%;};
        }
        a:hover{
          text-decoration: underline;
        }
      }
      li:nth-child(1){
        margin-left: -10%;
        position: relative;
        margin-right: 8%;
      }
    }

    p{color:#808080;display: inline-block;font-size: 0.8em;position: relative;width: auto;
      @include tablet{font-size: 1.5em;};
      @include deskNormal{width:auto;position: relative;left: 0;font-size: 1em;};
    }
  }
}
