.background-static{
  img{
    margin: 5% auto;
    position: relative;
    display: block;
    @include deskNormal{
      margin-top: 2%;
      margin-left: 13%;
      margin-bottom: 3%;
    };
  }
  hr{width: 70%;position: relative;display: block;margin:0 auto;margin-bottom: 10%;
    @include tablet{margin-bottom: 4%;};
  }
  .static-pages{
    width: 70%;margin:0 auto;position: relative;
    @include deskNormal{width: 60%;};
    p{color: #9a9a9a;}
    h1{font-weight: 700;margin-bottom: 5%;text-align: center;font-size: 1.4em;}
    b{display: block;padding: 10% 0 0;
      @include tablet{padding: 3% 0 0;};
    }
  }
}
